---
import '@fontsource-variable/montserrat'

import Footer from '@components/Footer.astro'

const { title } = Astro.props
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body class="bg-black text-white md:max-w-screen-xl md:mx-auto">
    <slot />
    <Footer />
  </body>
</html>

<style>
  body {
    font-family: 'Montserrat Variable', sans-serif;
  }
</style>